.header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    position:relative;
    z-index: 999;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 90%;
        max-width: 1280px;
        height: 4rem;
        border-radius: 10px;
        background-color: #E6F6FE;
        padding-right: 1rem;


        #websitelogo {
            width: 12rem;
            height: auto;
        }

        .fullscreen {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            ul {
                display: flex;
                justify-content: center;
                gap: 1.5rem;

                li {
                    list-style: none;
                    font-weight: 500;
                    font-size: 1rem;

                    a {
                        text-decoration: none;
                        color: #011632;
                        padding: 8px;
                    }

                    .active {
                        color: orangered;
                        font-weight: bold;
                    }
                }
            }

            .container {
                display: flex;
                align-items: center;
                gap: 1rem;

                .livenow {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                }

                .btn {
                    padding: 0.75rem 1.5rem;
                    border-radius: 10px;
                    border: none;
                    background-color: #1376F8;
                    color: #FFFFFF;
                    cursor: pointer;
                    font-size: 1rem;

                    &:hover {
                        background-color: #1376f8a4;
                    }
                }
            }
        }

        .popup {
            display: none;
            cursor: pointer;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

/* Mobile Responsive */
@media (max-width: 1024px) {
    .header {

        .nav {
            padding: 0.5rem 1rem;
            position: relative;

            .fullscreen {
                position: fixed;
                top: 0;
                left: -100%;
                width: 70%;
                height: 90vh;
                background: #E6F6FE;
                box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
                flex-direction: column;
                align-items: center;
                padding-top: 5rem;
                transition: left 0.3s ease-in-out;
                z-index: 1000;

                ul {
                    flex-direction: column;
                    width: 150px;
                    gap: 1rem;

                    li {
                        a {
                            font-size: 20px;
                        }
                    }
                }

                .container {
                    gap: 2rem;

                    .livenow {
                        width: 4rem;
                        height: 4rem
                    }

                    .btn {
                        padding: 0.5rem 1rem;
                        font-size: 1.2rem;
                    }
                }
            }

            .fullscreen.open {
                left: 0;
            }

            .popup {
                display: block;
                position: absolute;
                right: 1rem;
                top: 1rem;
                z-index: 1100;
            }
        }
    }
}