.testmonials_section {
    background-color: #E6F6FE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    .testmonials_h1 {
        font-size: 42px;
        font-weight: 600;
        color: #011632;
        text-align: center;
    }

    .testmonials_p {
        width: 80vw;
        font-size: 18px;
        font-weight: 400;
        color: #3C4959;
        text-align: center;
        line-height: 27px;
    }

    .slider_container {
        width:90vw;

        .flex {
            display: flex;
            justify-content:space-between;
            align-items: center;
            width: 90vw;
            gap: 15px;
            padding: 10px 0;
           scroll-behavior: smooth;
            overflow-X:hidden;
        }
    }

    .arrow {
        width: 200px;
        height: 44px;
        display: flex;
        justify-content: space-between;

        .arros {
            width: 90px;
            height: 44px;
            background-color: #FFFFFF;
            padding: 0 25px;

            .arrow_icon {
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }

    }
}

@media (max-width:450px) {
    .testmonials_section {
        height: 70vh;

        .testmonials_h1 {
            font-size: 11vw;

        }

        .testmonials_p {
            width: 90vw;
        }
    }

}

@media (min-width:760px) and (max-width:1024px) {
    .testmonials_section {
        .slider_container {
            .flex {
                gap: 20px;

            }
        }
    }
}