#cards_section_card {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px 5px;
    gap: 20px;
}

@media (max-width:450px) {
   
        #cards_section_card {
            overflow: hidden;
        }
}